<%- include('../partials/header.ejs') %>

<h3>Sign up here</h3>




<form>
	<fieldset>
		<legend>
			<small>
			Choose a username and password below
			</small>
		</legend>
	<div>
		<label for='username'>Username:</label>
		<input
		id='username'
		type='text'
		name='username'
		placeholder='Choose a username'
		/>
	</div>
	<div>
		<label for='password'>Password</label>
		<input
		id='password'
		type='password'
		name='password'
		placeholder='Choose a password'
		>
	</div>
	<button>Sign up!</button>
	</fieldset>
</form>



<%- include('../partials/footer.ejs') %>