<%- include('../partials/header.ejs') %>

<h3>Sign up here</h3>

<p><%= message %></p>

<form class='inputForm' method='POST' action='/auth/register'>
	<fieldset class='fieldset'>
		<legend>
			<small>
			Choose a username and password below
			</small>
		</legend>
	<div>
		<label class='label' for='emailAddress'>Email:</label>
		<input class='input' 
		id='emailAddress'
		type='text'
		name='emailAddress'
		placeholder='Enter email address'
		/>
	</div>
	<div>
		<label class='label' for='username'>Username:</label>
		<input class='input'
		id='username'
		type='text'
		name='username'
		placeholder='Choose a username'
		/>
	</div>
	<div>
		<label class='label' for='password'>Password:</label>
		<input class='input' 
		id='password'
		type='password'
		name='password'
		placeholder='Choose a password'
		>
	</div>
	<button>Sign up!</button>
	</fieldset>
</form>








<%- include('../partials/footer.ejs') %>