<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav>
	<a href="/">Home Page</a>
	||
	<a href="/auth/register">Register</a>
</nav>