<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>

<nav>
	<a href="/">Home Page</a>
	||
	<a href="/auth/register">Register</a>
	||
	<a href="/auth/login">Log In</a>
	||
	<a href="/auth/logout">Log Out</a>
</nav>

<nav>
<!-- if the user is logged in there should be a link here in the header that allows them to go to their profile the link is "/user/:id" -->
</nav>