<%- include('./partials/header.ejs') %>

<h3> Welcome to the States Travel Journal</h3>

<p> <%= message %> </p>

<h4>About</h4>
<p>Register an account with us and start tracking your travels.</p>
<p>Members can leave comments on their favorite destinations and learn about other users experiences</p>
<p>ALL users have access to the states index. There you will find a list of fun state facts.</p>

<h4>ENJOY</h4>


<%- include('./partials/footer.ejs') %>